@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,600;0,800;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400&display=swap");
html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif; }

h2 {
  font-weight: 200; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 100; }

.flex-row {
  display: flex;
  flex-flow: row nowrap; }

.align-center {
  align-items: center; }

.spread {
  justify-content: space-between; }

.h-hidden {
  display: none !important;
  visibility: hidden;
  opacity: 0;
  pointer-events: none; }

.h-hidden-invisible {
  visibility: hidden; }

.h-hidden-transparent {
  opacity: 0;
  pointer-events: none; }

.inactive {
  opacity: 0.5; }

.opacity-0 {
  opacity: 0.0; }

.opacity-10 {
  opacity: 0.1; }

.opacity-30 {
  opacity: 0.3; }

.opacity-50 {
  opacity: 0.5; }

.opacity-70 {
  opacity: 0.7; }

.opacity-100 {
  opacity: 1; }

.btn {
  border-radius: 20px;
  padding: 10px 30px;
  border: none;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
  font-size: 80%; }
  .btn:hover {
    cursor: pointer; }

.btn-default {
  background-color: #61D9FA;
  color: #ffffff; }

.btn-ok {
  background-color: #ffffff;
  color: #333333; }

.btn-send {
  background-color: #61D9FA;
  color: #ffffff; }

.btn-link {
  background-color: transparent;
  border: none;
  color: #61D9FA; }

button:disabled,
button[disabled] {
  background-color: #333333 !important;
  color: #999999 !important;
  opacity: 0.5 !important;
  pointer-events: none; }

.header-content {
  grid-area: header; }

#navMenu {
  grid-area: nav; }

.main-content {
  grid-area: main; }

.footer-content {
  grid-area: footer; }

#app {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
  height: 100vh; }

main {
  overflow: auto;
  height: calc(100vh - 160px); }

@media (min-width: 750px) {
  #app {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header main" "nav main" "nav footer"; }
  main {
    height: calc(100vh - 80px); } }

header {
  background-color: #333333;
  color: #ffffff;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  height: 80px;
  min-width: 300px; }

.page-dimensions {
  padding-right: 2em;
  padding-top: 1.5em;
  align-self: center; }
  .page-dimensions-item {
    margin-left: 2em; }

.header-menu {
  align-self: flex-end;
  height: 65%;
  display: flex; }
  .header-menu-item {
    margin-left: 2em; }

.menu-item {
  padding-top: 10px;
  width: 60px;
  text-align: center; }
  .menu-item-selected {
    padding-top: 10px;
    width: 60px;
    text-align: center;
    background-color: #999999;
    border-top: 4px solid #61D9FA; }

@media (min-width: 750px) {
  .header-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none; } }

.nav {
  background-color: #999999;
  display: none;
  padding-left: 1em;
  height: calc(100vh - 80px); }

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  position: absolute;
  top: 80px;
  z-index: 100; }

#loadLoremBtn.btn {
  align-self: center; }

@media (min-width: 750px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-width: 300px; } }

main {
  padding-left: 1em;
  padding-right: 1em; }

footer {
  background-color: #333333;
  color: #ffffff;
  padding-left: 1em;
  height: 80px; }
