.h-hidden {
  display: none !important;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.h-hidden-invisible {
  visibility: hidden;
}

.h-hidden-transparent {
  opacity: 0;
  pointer-events: none;
}